<% provide(:title, 'Help') %>

<%= render 'layouts/ads' %>

<p>
  Tutorial Video 1: ThaThings Introduction
</p>

<div class="center hero-unit">
  <iframe width="560" height="315" src="http://www.youtube.com/embed/6_hJ3R8jEZM" frameborder="0" allowfullscreen></iframe>
</div>


<%= link_to "Share ThaThings with your friends", signup_path, 
                            class: "btn btn-large btn-primary" %>

