<ul>
	<li class="arrow">
	  <%= link_to "Things", things_path %>
	  <small class="counter">10</small>
	</li>

	<li class="arrow">
	  <%= link_to "Types", types_path %>
	  <small class="counter">10</small>
	</li>

</ul>


<ul class="rounded">
	<li class="forward"><a target="_blank" href="http://www.jqtouch.com/">Home</a></li>
	<li class="forward"><a target="_blank" href="http://www.twitter.com/jqtouch">About</a></li>
	<li class="forward"><a target="_blank" href="http://code.google.com/p/jqtouch/w/list">Help</a></li>
	<li class="forward"><a target="_blank" href="http://code.google.com/p/jqtouch/w/list">Sign out</a></li>
</ul>