<ul>

<li class="arrow">
  <%= link_to "Things", things_path %>
  <small class="counter">10</small>
</li>

<li class="arrow">
  <%= link_to "Types", types_path %>
  <small class="counter">10</small>
</li>

<li class="arrow">
  <%= link_to "Notes", notes_path %>
  <small class="counter">10</small>
</li>

</ul>