<ul class="rounded"><li class="forward"><%= link_to "Add New Thing", new_thing_path %></li></ul>

<h2>Your Things</h2>

  <ul class="rounded">
    <% for thing in @things %>
    <li class="arrow">
      <%= link_to h(thing.short_name), thing %>
    </li>
    <% end %>
  </ul>
  <ul class="rounded"><li class="arrow"><%= link_to "Add New Thing", new_thing_path %></li></ul>