<div id="forms">
        <h1>Add new thing</h1>
    </div>
    <form class="scroll">
        <ul class="edit rounded">
            <li><input type="text" name="name" placeholder="Name your thing" id="some_name" /></li>
            <li><textarea placeholder="Elaborate here" ></textarea></li>
            <li>Favorite<span class="toggle"><input type="checkbox" /></span></li>
            <li class="arrow">
                <select id="lol">
                    <optgroup label="Types">
                        <option value ="type1">To do</option>
                        <option value ="type2">Reminder</option>
                    </optgroup>
                    <optgroup label="Other">
                        <option value ="None">Untagged</option>
                    </optgroup>
                </select>
            </li>
        </ul>
    </form>