<h2>Types</h2>
  <ul>
    <% for type in @types %>
    <li class="arrow">
      <%= link_to h(type.type_name), type %>
    </li>
    <% end %>
  </ul>
  <ul><li class="arrow"><%= link_to "New Type", new_type_path %></li></ul>