<div class="well">

	<div align="right"><%= link_to "(Clear Search)", things_path %></div>	
  <p class="muted" style="margin-bottom: 0;">
	<b><%= @things.count %> thing(s) found</b> containing the search string <b><%= "'#{params[:search]}'" %></b> (In their heading, explanation or type). 
  </p>
</div>