<% @types = Type.all %>
What type of thing is this? <br><br>

<div class="tooltip-demo well">

  <div class="btn-group" data-toggle="buttons-radio">
    <% @types.each do |t| %>
        <button class="btn" btn_success id=<%= t.id %>><%= t.type_name %></button>
    <% end %>
  </div>
</div>