<% @types = Type.all %>
What type of thing is this? <br>
<!--<select name="TypeSel">-->
  <!--<% @types.each do |t| %>-->
      <!--<option value=<% t.id %>><%= t.type_name %></option>-->
  <!--<% end %>-->
<!--</select>-->
<!--</span>-->
<!--</div>-->

<div class="tooltip-demo well">
  <p class="muted" style="margin-bottom: 0;">

    <% @types.each do |t| %>
        <a href="#"><span class="btn btn-small btn-primary"><%= t.type_name %></span></a>
    <% end %>
  </p>
</div>