<div class="tooltip-demo well">
  <p class="muted" style="margin-bottom: 0;">
	  This is the start page!
  </p>
</div>

<%= link_to image_tag("yourthings.jpg"), things_path %>
<%= link_to image_tag("yourthings.jpg"), things_path %>
