<h2>Settings</h2>

<table>

<% @settings.each do |setting| %>
  <tr>
    <td>Number of rows per table:</td>
    <td><b><%= setting.rowcountperpage %></b></td>
  </tr>
  <tr>
    <td>Show Notes in Menu:</td>
    <td><b><%= check_box_tag '', '', setting.show_notes, :disabled => true %></b></td>
  </tr>

<% end %>
</table>
<br>
<%= link_to image_tag("editbtn.jpg"), edit_setting_path(@settings) %>
