@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
	  background-color:$white; /* ADDED BY SHAUN */
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

/* added by Shaun - The below text area was part of the above */

textarea {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: 150px;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
 /* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* sidebar */

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}









/* Added by SHAUN */

.icon-star-yellow {
    background-image: url("favorite.png");
    background-position: center center;
}


/* Added by SHAUN for the twitter like search magnifying glass in the search */

  
.navbar-search {
    position: relative;
}
  
.navbar-search .search-query {
    padding-left: 29px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 30px;
}

.search-query:focus + .icon-search {
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}








/* SHAUN added this for the Color blocks in the Help page */


h11, h21, h31, h41, h51, h61, p1, ul1, ol1, li1, form1, input1, textarea1 {
	padding: 0px;
	margin: 0px;
}
a1.more {
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
a1.more:hover {
	color: #FFFFFF;
}


.sections {
	width: 899px;
	height: 184px;
	float: left;
	padding-top: 41px;
}
.section1 {
	font-size: 11px;
	background-image: url(sec1bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 171px;
	height: 111px;
	float: left;
	padding: 18px;
	margin-left: 10px;
}
.section1 h3, .section4 h3 {
	font-size: 14px;
}
.section2 {
	font-size: 11px;
	background-image: url(sec2bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 171px;
	height: 111px;
	float: left;
	padding: 18px;
	margin-left: 17px;
}
.section2 h3 {
	font-size: 14px;
	color: #1f5aa0;
}
.section3 {
	font-size: 11px;
	background-image: url(sec3bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 171px;
	height: 111px;
	float: left;
	padding: 18px;
	margin-left: 17px;
}
.section3 h3 {
	font-size: 14px;
	color: #2d680c;
}
.section4 {
	font-size: 11px;
	background-image: url(sec4bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	width: 172px;
	height: 111px;
	float: left;
	padding: 18px;
	margin-left: 17px;
}


/* SHAUN added this for sorting up and down arrows */

.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
th .asc { 
  background-image: url(up.jpg); 
}

th .desc { 
  background-image: url(down.jpg); 
}