
<div class="sections tooltip-demo well">
	<div class="section1">
		<h3>Things</h3><br>
		<p1>&nbsp;</p1>
		<p1>Everything in life is made up of a collection of "things". ThaThings is what makes sense of it all!</p1>
		<p1>&nbsp;</p1><br>
		<p1><a1 href="#" class="more">read more</a1></p1>
	</div>
	<div class="section2">
		<h3>Types</h3><br>
		<p1>&nbsp;</p1>
		<p1>Each thing can be "grouped" into a Type. Everyone has different types. Define yours!</p1>
		<p1>&nbsp;</p1><br>
		<p1><a1 href="#" class="more">read more</a1></p1>
	</div>
	<div class="section3">
		<h3>Powerful</h3><br>
		<p1>&nbsp;</p1>
		<p1>ThaThings is very versatile and powerful. Create your Thing, "Type" it, and you're done! Just for you!</p1>
		<p1>&nbsp;</p1><br>
		<p1><a1 href="#" class="more">read more</a1></p1>
	</div>
	<div class="section4">
		<h3>Customised</h3><br>
		<p1>&nbsp;</p1>
		<p1>It's whatever you want it to be: Reminders, ToDo's, Bookmarks, CRM or Notepad. You decide, It's yours!</p1>
		<p1>&nbsp;</p1><br>
		<p1><a1 href="#" class="more">read more</a1></p1>
	</div>
</div>
